<body>
    <header>
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Destinations</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Contact Us</a></li>
                <input type="string" [(ngModel)] = 'value'>
                {{value}}
            </ul>
        </nav>
        <h1> Discover your next adventure</h1>
        
    </header>

    <app-lista></app-lista>
    <footer>
        <p>&copy; 2023 Macedonia. All rights reserved.</p>
    </footer>
</body>



