
<body>
    <header>
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Destinations</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Contact Us</a></li>
                <input type="string" [(ngModel)] = 'value'>
                {{value}}
            </ul>
        </nav>
        <h1> Discover your next adventure</h1>
        
    </header>
    <main>
        <section>
            <h2>Popular Destinations</h2>
           
            <div class="destination">
                <img src="destination2.jpg" alt="Destination 2">
                <h3>Destination 2</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <a href="#" class="btn">Learn More</a>
            </div>
            <div class="destination">
                <img src="destination3.jpg" alt="Destination 3">
                <h3>Destination 3</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <a href="#" class="btn">Learn More</a>
            </div>
        </section>
        <section>
            <h2>About Us</h2>
            <p>Digit 2023</p>
            <a href="#" class="btn">Learn More</a>
        </section>
    </main>
    <app-lista></app-lista>

    <footer>
        <p>&copy; 2023 Macedonia. All rights reserved.</p>
    </footer>
</body>


