
<footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-4">
          <h5>About Macedonia Travel</h5>
          <p>We are a leading travel site for Macedonia, providing expert travel advice, personalized trip planning, and affordable tour packages. Our goal is to help travelers experience the best of Macedonia's rich culture, history, and natural beauty.</p>
        </div>
        <div class="col-12 col-md-4">
          <h5>Contact Us</h5>
          <p>Email: info@macedoniatravel.com</p>
          <p>Phone: +1 (555) 123-4567</p>
          <p>Address: 123 Main St, Skopje, Macedonia</p>
        </div>
        <div class="col-12 col-md-4">
          <h5>Connect with Us</h5>
          <ul class="social-media">
            <li><a href="#"><i class="fa fa-facebook fa-lg"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter fa-lg"></i></a></li>
            <li><a href="#"><i class="fa fa-instagram fa-lg"></i></a></li>
          </ul>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-12 col-md-6">
          <p>&copy; 2023 Macedonia Travel. All Rights Reserved.</p>
        </div>
        <div class="col-12 col-md-6">
          <ul class="list-inline float-md-end">
            <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
            <li class="list-inline-item"><a href="#">Terms of Use</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>