<main>
    <section>
        <h2>Popular Destinations</h2>
       
        <div class="destination">
            <img src="destination2.jpg" alt="Destination 2">
            <h3>Destination 2</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <a href="#" class="btn">Learn More</a>
        </div>
        <div class="destination">
            <img src="destination3.jpg" alt="Destination 3">
            <h3>Destination 3</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <a href="#" class="btn">Learn More</a>
        </div>
    </section>
    <section>
        <h2>About Us</h2>
        <p>Digit 2023</p>
        <a href="#" class="btn">Learn More</a>
    </section>
</main>