<body>
	<header>
		<h1>Top Destinations</h1>
	</header>
	<span id="spacer"></span>
  <mat-form-field id="search">
    <mat-label>Search a city</mat-label>
    <input matInput type="text" />
    <button matSuffix mat-icon-button>
      <mat-icon>search</mat-icon>
    </button>
  </mat-form-field>
  <br>
	<main>
		<section class="destination" *ngFor="let i of dataa">
			<img src=".\assets\Cities\Bitola.jpg" alt="Destination 1">
			<div class="destination-info">
				<h2>{{i.lokacija}}</h2>
				<p>Description of destination 1.</p>
				<button (click)="ReadMore()"><a href="#">Read more</a></button>
			</div>
		</section>


    </main>
</body>