body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding-bottom: 100px; /* set padding bottom to the height of the footer */
    
    height: auto;
    display: block;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0;
}

main {
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
}

.destination {
    position: relative;
    width: calc(33.33% - 20px); /* subtract margin from width to prevent wrapping */
    margin: 10px;
    box-sizing: border-box;
    padding: 10px;
}

.destination img {
    height: 500px;
    object-fit: cover;
    width: 100%;
}

.destination-info {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    left: 0;
    padding: 20px;
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.destination-info h2 {
    font-size: 2em;
    margin-bottom: 10px;
}

.destination-info p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.destination-info a {
    background-color: #fff;
    color: #333;
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    text-transform: uppercase;
    transition: background-color 0.2s ease-in-out;
}

.destination-info a:hover {
    background-color: #333;
    color: #fff;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
}