<body>
	<header>
		<h1>Top Destinations</h1>
	</header>
	<span id="spacer"></span>
  <mat-form-field id="search">
    <mat-label>Search a city</mat-label>
    <input matInput type="text" />
    <button matSuffix mat-icon-button>
      <mat-icon>search</mat-icon>
    </button>
  </mat-form-field>
  <br>
	<main>
		<section class="destination">
			<img src=".\assets\Cities\Bitola.jpg" alt="Destination 1">
			<div class="destination-info">
				<h2>Destination 1</h2>
				<p>Description of destination 1.</p>
				<a href="#">Read more</a>
			</div>
		</section>

		<section class="destination">
			<img src=".\assets\Cities\Skopje.jpg" alt="Destination 2">
			<div class="destination-info">
				<h2>Destination 2</h2>
				<p>Description of destination 2.</p>
				<a href="#">Read more</a>
			</div>
		</section>

        <section class="destination">
			<img src=".\assets\Cities\Ohrid.jpg" alt="Destination 2">
			<div class="destination-info">
				<h2>Destination 2</h2>
				<p>Description of destination 2.</p>
				<a href="#">Read more</a>
			</div>
		</section>

        <section class="destination">
			<img src=".\assets\Cities\Skopje.jpg" alt="Destination 2">
			<div class="destination-info">
				<h2>Destination 2</h2>
				<p>Description of destination 2.</p>
				<a href="#">Read more</a>
			</div>
		</section>



    </main>
</body>