<div class="weather-widget">
  <div class="weather-card">
    <h2 class="city">Skopje</h2>
    <p class="temp">23°C</p>
    <img src="assets/Cities/sun.png" alt="Weather Icon">
    <p class="description">Sunny</p>
  </div>

  <div class="weather-card">
    <h2 class="city">Bitola</h2>
    <p class="temp">21°C</p>
    <img src="assets/Cities/sun.png" alt="Weather Icon">
    <p class="description">Sunny</p>
  </div>

  <div class="weather-card">
    <h2 class="city">Ohrid</h2>
    <p class="temp">19°C</p>
    <img src="assets/Cities/cloud.png" alt="Weather Icon">
    <p class="description">Partly Cloudy</p>
  </div>
</div>
